# Spotify API

In [170]:
import requests
import urllib.parse

import seaborn as sns

import csv
import time
import random

import pandas as pd
import numpy as np

In [171]:
vinyls = pd.read_pickle("./vinylsdf.pkl")

In [172]:
artists = vinyls.Artist
artists.drop_duplicates(inplace=True)
artists.shape

(11591,)

In [173]:
with open('artistpopularity8.csv', 'w',newline='') as csvfile:
    file = csv.writer(csvfile)

    file.writerow(['Name', 'Score'])
    
    for artist in artists:
        artist_encoded = urllib.parse.quote(artist)
        url = "https://api.spotify.com/v1/search?q=" + artist_encoded + "&type=artist&limit=1"
        r = requests.get(url, headers={"Accept": "application/json", "content-type":"application/json", 
                                   "Authorization": "Bearer"})
        json = r.json()
        
        try:
            name = json['artists']['items'][0]['name']
        except:
            name = 'Not Found'
            
        try:
            popularity_score = json['artists']['items'][0]['popularity']
        except:
            popularity_score = 'Not Found'
        
        observation = [name, popularity_score]
        
        file.writerow(observation)
    
        time.sleep(.5+2*random.random())

In [174]:
artists = artists.reset_index(drop=True)

In [175]:
artists.sample(10)

9517                    Lenny White
10028    Mani Rivera & Levi Jimenez
7002                        Sol Ray
939                       Hombres G
5190                 Army Of Lovers
11443                  Earth Bound*
6368                Hipnosis / Koto
6912       King Unique / Fatty Acid
1693               Izm & Skyler Mic
1332        Ben Colder, Sheb Wooley
Name: Artist, dtype: object

In [176]:
df1 = pd.read_csv('artistpopularity.csv')
df2 = pd.read_csv('artistpopularity2.csv')
df3 = pd.read_csv('artistpopularity3.csv')
df4 = pd.read_csv('artistpopularity4.csv')
df5 = pd.read_csv('artistpopularity5.csv')
df6 = pd.read_csv('artistpopularity6.csv')
df7 = pd.read_csv('artistpopularity7.csv')
df8 = pd.read_csv('artistpopularity8.csv')

In [177]:
spotifydf = df1.append(df2)
spotifydf = spotifydf.append(df3)
spotifydf = spotifydf.append(df4)
spotifydf = spotifydf.append(df5)
spotifydf = spotifydf.append(df6)
spotifydf = spotifydf.append(df7)
spotifydf = spotifydf.append(df8)

In [178]:
spotifydf = spotifydf.reset_index(drop=True)

In [179]:
spotifydf['Artists'] = artists

In [181]:
spotifydf.sample(10)

                    Name      Score                     Artists
2884            The Nice         32                    The Nice
7636          Ele Ferrer          0                  Elé Ferrer
2351      José Feliciano         71             Jose Feliciano*
4550              Ilogik         16                      Ilogik
784            Not Found  Not Found  K. C. & The Sunshine Band*
6651  DJ Sakin & Friends         26          DJ Sakin & Friends
1012              Dalida         56                      Dalida
4793           Not Found  Not Found                 Loud Flower
2734           Afefe Iku         26                   Afefe Iku
5409       Black To Comm         11                   Black (2)

In [182]:
order = ['Artists', 'Score']
spotifydf = spotifydf[order]
spotifydf.sample(10)

                                  Artists      Score
9345   Nick Jones Presents Dorothy Oliver  Not Found
1127                          Las Montiel          2
1540                        Vernon Oxford         19
53                           Penny McLean         26
10985             The Barnyard Orchestra*  Not Found
2048           See You In Hell / Crow (3)  Not Found
9437                           Sugar Cane         39
6957        Club Robbers / DJ Bobo / 2 AM  Not Found
938                        Roberto Sasian         14
7926                              Monifah         40

In [186]:
vinyls['Score'] = np.nan

In [187]:
for index, row in spotifydf.iterrows():
    artist = spotifydf['Artists'][index]
    vinyls.loc[vinyls['Artist'] == artist, 'Score'] = spotifydf['Score'][index]

In [188]:
vinyls[vinyls.Artist == 'The Beatles']

,Price,Artist,Album,Release_Date,Media_Condition,Sleeve_Condition,Haves,Wants,Percent_Seller_Rating,Rate,...,Jazz,Latin,Pop,Reggae,Rock,Stage & Screen,Childrens,Funk/Soul,Folk/Country/World,Score
1745,62.91,The Beatles,Revolver,1979,6,9,2,281,0.994,3.985851,...,0,0,1,0,1,0,0,0,0,88
1819,77.29,The Beatles,Magical Mystery Tour,1977,8,11,2,96,0.994,3.985851,...,0,0,0,0,1,1,0,0,0,88
3964,58.99,The Beatles,The Beatles At The Hollywood Bowl,1977,6,9,9,10,0.998,3.985851,...,0,0,0,0,1,0,0,0,0,88
4086,62.91,The Beatles,Lady Madonna,1968,6,9,4,7,0.994,3.985851,...,0,0,0,0,1,0,0,0,0,88
4497,235.80,The Beatles,The Beatles Vol. 3,1964,5,8,12,14,0.994,3.985851,...,0,0,1,0,1,0,0,0,0,88
6446,10.50,The Beatles,Rare Beatles,1982,6,9,486,49,1.000,3.590000,...,0,0,0,0,1,0,0,0,0,88
6553,10.75,The Beatles,A Hard Day's Night,1980,5,8,705,118,1.000,4.190000,...,0,0,0,0,1,1,0,0,0,88
6562,49.80,The Beatles,A Hard Day's Night,1964,6,9,72,237,0.997,4.140000,...,0,0,0,0,1,1,0,0,0,88
6800,34.66,The Beatles,Hola Adios / Yo Soy La Morsa,1967,7,2,0,7,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
6998,19.06,The Beatles,All You Need Is Love,1967,6,3,9,16,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
7014,33.96,The Beatles,Hola Adios / Yo Soy La Morsa,1967,6,2,12,9,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
7024,101.42,The Beatles,Revolver,1966,5,8,13,265,0.994,4.750000,...,0,0,0,0,1,0,0,0,0,88
7052,77.29,The Beatles,Magical Mystery Tour,1974,8,11,22,246,0.994,4.830000,...,0,0,0,0,1,1,0,0,0,88
7062,77.29,The Beatles,Magical Mystery Tour,1967,8,11,7,117,0.994,4.000000,...,0,0,0,0,1,1,0,0,0,88
7092,100.39,The Beatles,A Collection Of Beatles Oldies,1967,5,8,8,16,0.994,3.000000,...,0,0,0,0,1,0,0,0,0,88
7102,50.07,The Beatles,Revolver,1966,6,8,2,17,0.994,5.000000,...,0,0,0,0,1,0,0,0,0,88
7189,77.29,The Beatles,Magical Mystery Tour,1981,8,11,26,136,0.994,4.330000,...,0,0,0,0,1,1,0,0,0,88
7198,77.29,The Beatles,Magical Mystery Tour,1968,8,11,27,252,0.994,4.750000,...,0,0,0,0,1,1,0,0,0,88
7258,75.74,The Beatles,Yellow Submarine,1972,6,9,37,135,0.994,3.670000,...,0,0,0,0,1,0,0,0,0,88
7259,18.34,The Beatles,Let It Be,1975,7,10,15,121,0.994,4.750000,...,0,0,0,0,1,0,0,0,0,88
7265,75.74,The Beatles,Yesterday ... And Today,1978,6,9,6,40,0.994,4.000000,...,0,0,1,0,1,0,0,0,0,88
7267,57.77,The Beatles,Beatles For Sale,1979,6,9,9,78,0.994,4.500000,...,0,0,0,0,1,0,0,0,0,88
7333,21.99,The Beatles,Yellow Submarine,1969,6,9,146,154,1.000,3.940000,...,0,0,0,0,1,1,0,0,0,88
7554,85.15,The Beatles,Rubber Soul,1990,7,9,4,192,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
7560,127.10,The Beatles,Yea! Yea! Yea! Vol 4,1965,6,10,25,158,0.994,4.000000,...,0,0,1,0,0,0,0,0,0,88
7682,129.69,The Beatles,La Caja De Los Beatles - From Liverpool,1982,7,10,69,13,0.994,4.710000,...,0,0,1,0,1,0,0,0,0,88
7684,77.29,The Beatles,Rubber Soul,1970,6,9,13,170,0.994,4.330000,...,0,0,1,0,1,0,0,0,0,88
7716,77.29,The Beatles,Vol. 2,1979,7,10,21,13,0.994,4.330000,...,0,0,0,0,1,0,0,0,0,88
7744,11.79,The Beatles,Al Compas De Beethoven,1972,6,9,20,4,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
7748,6.55,The Beatles,Una Probada De Miel,1971,1,8,2,2,0.994,3.000000,...,0,0,1,0,1,0,0,0,0,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9540,69.56,The Beatles,Help! (Original Motion Picture Soundtrack),1975,7,10,31,33,0.994,4.500000,...,0,0,1,0,1,1,0,0,0,88
9552,24.89,The Beatles,Conozca a The Beatles,1979,7,10,23,112,0.994,4.250000,...,0,0,1,0,1,0,0,0,0,88
9560,17.03,The Beatles,Love Songs,1978,7,10,30,14,0.994,3.330000,...,0,0,0,0,1,0,0,0,0,88
9569,58.95,The Beatles,Vol.4 Versiones Originales De La Película YEA!...,1970,7,10,10,87,0.994,4.670000,...,0,0,0,0,1,1,0,0,0,88
9575,16.27,The Beatles,Penny Lane / Campos De Fresa,1967,5,2,3,25,0.994,5.000000,...,0,0,0,0,1,0,0,0,0,88
9578,84.89,The Beatles,Yellow Submarine,1982,8,11,6,88,0.994,4.000000,...,0,0,1,0,1,1,1,0,0,88
9582,29.48,The Beatles,The Beatles At The Hollywood Bowl,1977,7,11,58,27,0.994,3.800000,...,0,0,0,0,1,0,0,0,0,88
9584,77.29,The Beatles,Magical Mystery Tour,1979,8,11,6,145,0.994,4.670000,...,0,0,0,0,1,1,0,0,0,88
9594,85.15,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1971,6,9,24,366,0.994,4.670000,...,0,0,0,0,1,0,0,0,0,88
9597,84.89,The Beatles,Yellow Submarine = El Submarino Amarillo,1979,8,11,9,84,0.994,4.000000,...,0,0,1,0,1,1,1,0,0,88
9602,45.98,The Beatles,The Beatles,1973,7,8,82,331,0.994,4.890000,...,0,0,0,0,1,0,0,0,0,88
9687,58.95,The Beatles,Beatles For Sale,1974,6,10,39,128,0.994,3.500000,...,0,0,0,0,1,0,0,0,0,88
9691,18.34,The Beatles,Let It Be,1983,7,10,141,232,0.994,4.210000,...,0,0,1,0,1,0,0,0,0,88
9698,34.19,The Beatles,1962-1966,1977,7,9,105,64,0.994,4.620000,...,0,0,1,0,1,0,0,0,0,88
9713,87.68,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,6,9,10,466,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
9719,87.68,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,6,9,57,334,0.994,4.830000,...,0,0,1,0,1,0,0,0,0,88
9722,53.05,The Beatles,Vol. 2,1982,7,10,47,14,0.994,4.000000,...,0,0,0,0,1,0,0,0,0,88
9733,30.65,The Beatles,The Beatles Vol. 3,1971,6,9,17,5,0.994,4.250000,...,0,0,0,0,1,0,0,0,0,88
9752,16.51,The Beatles,"Rock 'N' Roll Music, Volume 1",1980,5,8,27,5,0.994,5.000000,...,0,0,0,0,1,0,0,0,0,88
9765,88.95,The Beatles,Magical Mystery Tour,1967,5,8,39,240,0.994,3.880000,...,0,0,0,0,1,1,0,0,0,88
10012,85.15,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1971,6,9,24,367,0.994,4.670000,...,0,0,0,0,1,0,0,0,0,88
10013,87.68,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,6,9,10,467,0.994,5.000000,...,0,0,1,0,1,0,0,0,0,88
10014,87.68,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,1967,6,9,57,335,0.994,4.830000,...,0,0,1,0,1,0,0,0,0,88
10124,3.00,The Beatles,The Ballad Of John And Yoko,1969,5,2,631,39,0.997,4.450000,...,0,0,0,0,1,0,0,0,0,88
10129,3.00,The Beatles,Let It Be,1971,5,3,176,18,0.997,4.730000,...,0,0,1,0,1,0,0,0,0,88
11235,5.00,The Beatles,Love Me Do,1964,5,3,67,24,0.997,4.670000,...,0,0,1,0,1,0,0,0,0,88
11269,4.00,The Beatles,Do You Want To Know A Secret,1964,5,3,75,8,0.997,4.220000,...,0,0,0,0,1,0,0,0,0,88
12804,9.99,The Beatles,The Early Beatles,1986,6,10,95,35,0.995,4.140000,...,0,0,0,0,1,0,0,0,0,88
12836,24.99,The Beatles,Beatles VI,1965,6,9,2763,287,0.995,4.110000,...,0,0,0,0,1,0,0,0,0,88
22642,38.00,The Beatles,Help! (Original Motion Picture Soundtrack),1965,5,6,1253,108,0.998,3.910000,...,0,0,0,0,1,1,0,0,0,88

In [191]:
spotvinyls = vinyls
vinylsfinal = spotvinyls[spotvinyls.Score != 'Not Found']
vinylsfinal.shape

(14623, 26)

In [193]:
vinylsfinal['Score'] = pd.to_numeric(vinylsfinal.Score)

In [194]:
vinylsfinal.to_pickle("./vinylsfinal.pkl")